<div class="card-container">
  <div class="card">
    <img
      [src]="'/assets' + product.image"
      [alt]="product.name"
      class="card-img-top"
    />
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">€{{ product.price }}</p>
      <div
        class="product-btn"
        style="display: flex; gap: 10px; align-items: center"
      >
        <button class="btn btn-primary" (click)="handleLearnMore()">
          Află mai multe
        </button>

        <button
          class="button-icon"
          (click)="handleAddToCart()"
          [disabled]="product.stock <= 0"
          title="Adaugă în coș"
          style="display: flex; align-items: center; justify-content: center"
        >
          <mat-icon class="add-to-cart-icon">shopping_cart</mat-icon>
        </button>
      </div>
      <p *ngIf="product.stock <= 0" style="color: red; margin-top: 5px">
        Stoc epuizat!
      </p>
    </div>
  </div>
</div>
