<h2 mat-dialog-title class="title">
  {{ data ? "Editare Client" : "Adăugare Client Nou" }}
</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()" style="padding: 0 8px 16px">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Nume Client</mat-label>
    <input matInput formControlName="customerName" required />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Număr Telefon</mat-label>
    <input matInput formControlName="customerPhone" required />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Adresă</mat-label>
    <input matInput formControlName="customerAddress" required />
  </mat-form-field>

  <div class="dialog-actions">
    <button mat-button type="button" (click)="dialogRef.close()">
      Anulează
    </button>
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="form.invalid"
    >
      {{ data ? "Salvează modificările" : "Adaugă Client" }}
    </button>
  </div>
</form>
