<div class="form">
  <h2>Camera Shop</h2>
  <p>Autentifică-te</p>
  <div class="form-group">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label for="userId">ID Utilizator</label>
      <input id="userId" type="text" formControlName="userId" />
      <br />
      <label for="password">Parola</label>
      <input id="password" type="password" formControlName="password" />
      <br />
      <div class="form-btn-add">
        <button type="submit" [disabled]="loading">Autentifică-te</button>
        <button mat-button (click)="goToRegister()">
          Înregistrează-te aici!
        </button>
      </div>
    </form>
  </div>
</div>
