<div class="category" style="padding-bottom: 50px; padding-top: 20px">
  <div
    *ngFor="let category of categories"
    class="categoryFlex"
    [class.category-active]="selectedCategory === category.name"
    (click)="selectCategory(category.name)"
  >
    <h3 class="categoryName">{{ category.name }}</h3>
    <img
      [src]="category.imageUrl"
      [alt]="category.name"
      height="60"
      width="60"
    />
  </div>
</div>

<h2 style="margin-bottom: 50px; padding-left: 100px; padding-bottom: 20px">
  Home
</h2>

<div class="row" style="padding: 20px 40px">
  <div
    class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
    *ngFor="let product of filteredProducts"
  >
    <app-product-card [product]="product"></app-product-card>
  </div>
</div>
